{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <section class="mangas-top-10 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 sm:gap-2 md:gap-4 lg:gap-6 ">
        {% for manga in top10 %}
            <article class="manga bg-gray-800 rounded p-4 m-4 max-w-72">
                <img src="{{ manga.img  }}" alt="image de couverture de {{ manga.name }}" class="w-full max-h-64">
                <h2>{{ manga.name }}</h2>
                <p>{{ manga.id }}</p>
                <button onclick="addToLibrary({{ manga.id }})" >Add</button>
            </article>

        {% endfor %}
    </section>


    <script>


       async function addToLibrary(id) {
          await fetch("/add", {
                method:"POST",
                headers: {
                    'Accept': 'application/json',
                    "Content-Type": "application/json",
                },
                body: JSON.stringify({'mangaId': id}),
            })
              .then((res) => {
                  console.log(res)
                  if(res.ok){
                      console.log('coucou')
                  //    todo ajouté la transformation du bouton Add en OK + ajouté un bandeau manga (nom du manga) bien ajouté à votre bibliothèque
                  //     to try masquer le manga de la liste
                  }
              }
          )
        }


    </script>
{% endblock %}
